header {
  background-color: #5b7989;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

header a{
  color: white;
}

#inicio {
  text-decoration:none;
}

body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

#contenido {
  width: 100%;
  margin: auto;
}

#contenido header h1 {
  width: 100%;
  text-align: center;
}
#menu-principal {
  width: 100%;
  text-align: center;
}

#imagen_central img {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#imagen_central {
  background-color: #82c3a6;
}

#contenedor_imagenes img {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#contenedor_imagenes {
  background-color: #d5c75f;
  color: black;
}

.imagenes_secundarias {
  text-align: center;
  padding: 20px;
}

.imagenes_secundarias a p{
  color: black;
  font-weight: bold;
  font-size: 22px;
}

footer {
  background-color: #C6d5c5;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

footer p img {
  width: 18px;
  margin-right: 5px;
}

footer div {
  width: 80%;
  margin-left: 5%;
}

@media (min-width:900px) {
  #contenido {
    max-width: 900px;
    margin: auto;
  }
  #contenido header h1 {
    width: 50%;
    display: inline;
  }
  #menu-principal {
    width: 50%;
    display: inline;
    float: right;
    text-align: right;
  }
  #imagen_central img {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #imagen_central {
    background-color: #82c3a6;
  }
  #contenedor_imagenes {
    display: flex;
    display-direction: rows;
    background-color: #d5c75f;
  }
  .imagenes_secundarias {
    width: 80%;
    height: 80%;
  }

  footer {
    display: flex;
    display-direction: rows;
  }

  footer p {
    margin: 5px;
  }

  footer p img {
    width: 18px;
    margin-right: 5px;
  }

  footer div {
    width: 25%;
  }

}
