header {
  background-color: #5b7989;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

header a{
  color: white;
}

body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

#contenido {
  width: 100%;
  margin: auto;
  animation: rebote 1s;
}

#contenido header h1 {
  width: 100%;
  text-align: center;
}
#menu-principal {
  width: 100%;
  text-align: center;
}

#inicio {
  text-decoration:none;
}

#paisajes {
  text-decoration:none;
}

#retratos {
  text-decoration:none;
}

#imagen_central img {
  width: 90%;
  box-shadow: 2px 2px 2px black;
}

#imagen_central {
  background-color: #82c3a6;
  text-align: center;
  padding: 20px;
}

#contenedor_imagenes {
  background-color: #d5c75f;
  color: black;
}

#contenedor_imagenes img {
  width: 90%;
}

.imagenes_secundarias {
  text-align: center;
  padding: 20px;
}

#paisaje {
transition: transform 1s;
border: black 1px solid;
padding: 0px;
box-shadow: 2px 2px 2px black;
}

#paisaje:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: black 2px solid;
}
#retrato {
  transition: transform 1s;
  border: black 1px solid;
  padding: 0px;
  box-shadow: 2px 2px 2px black;
}
#retrato:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: black 2px solid;
}

.imagenes_secundarias a p{
  color: black;
  font-weight: bold;
  font-size: 22px;
}

footer {
  background-color: #C6d5c5;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

footer p img {
  width: 18px;
  margin-right: 5px;
}

footer div {
  width: 80%;
  margin-left: 5%;
}

@-webkit-keyframes rebote {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

/*Para paisajes.html y retratos.html*/
#contenedor_imagenes_galerias {
  display: flex;
  flex-wrap: wrap;
  background-color: #d5c75f;
}

#contenedor_imagenes_galerias img {
  width: 90%;
  height: 90%;
  margin: 5%;
  box-shadow: 2px 2px 1px;
}

#imagen_blur {
  filter: blur(10px);
}

.imagen_gris {
  filter: grayscale(100%);
}

#sepia {
  filter: sepia(90%);
}


@media (min-width:900px) {
  #contenido {
    max-width: 900px;
    margin: auto;
  }
  #contenido header h1 {
    width: 50%;
    display: inline;
  }
  #menu-principal {
    width: 50%;
    display: inline;
    float: right;
    text-align: right;
  }
  #imagen_central img {
    width: 90%;
  }

  #imagen_central {
    background-color: #82c3a6;
  }
  #contenedor_imagenes {
    display: flex;
    display-direction: rows;
    background-color: #d5c75f;
  }
  .imagenes_secundarias {
    width: 80%;
    height: 80%;
  }

  footer {
    display: flex;
    display-direction: rows;
  }

  footer p {
    margin: 5px;
  }

  footer p img {
    width: 18px;
    margin-right: 5px;
  }

  footer div {
    width: 25%;
  }

  /*Para paisajes.html*/
  #contenedor_imagenes_galerias img {
    width: 30%;
    height: 30%;
    margin: 1.66%;
  }

}
